  
body {  
    font-family: Arial, sans-serif;  
}  
    
.itemsTable {  
    width: 100%;  
    /* border-collapse: collapse; /* 合并边框 */
    /* line-height: normal; /* 默认情况下，行高会根据内容自动调整 */
    border-spacing: 20px; /* 设置列间距为10像素 */
    
}  
    
.itemsTable th, td {  
    border: none;      
    padding: 8px; /* 单元格内部的间距 */
    text-align: left; /* 文本对齐方式 */
    border-radius: 10px;  /* 圆角 */
    border-bottom: 10px solid white;
    border-top: 10px solid white;
    border-right: 10px solid white;
}  
    
.itemsTable td{
    border-spacing: 20px; /* 设置列间距为10像素 */
}
    
img {  
    max-width: 100px;   
    position: relative;
}